<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>{{post.title}}</title>
     <link rel="stylesheet" href="{{ STATIC_URL }}/static/article.css">
  </head>
  <body>
      <div class="archive">
          <div class="article-border">
        <p>
          <div class="archive-header">
                  <img class="article-image" src="{{ STATIC_URL }}/static/cat.png"/>
          </div>
          <a class="link" href="http://127.0.0.1:8000">Все статьи</a>
        </p>
      </div>
          <div class="post">
        <h1 class="post-title">{{post.title}}</h1>
        <div class="article-info">
          <h2>
            <div class="article-author">{{post.author.username}}</div>
          </h2>
          <div class="article-created-data">{{post.created_date}}</div>
            <p class="article-text">{{ post.text }}</p>
        </div>
      </div>
      </div>
  </body>
</html>